<br/>
	<form id="frmBusqueda" method="get" action="/quizes">
		<div id="dvContenedorBusqueda" class="dvContenedorFormulario">
			<div class="dvCabeceraFormulario">
				<h4>Buscador<h4>
			</div>
  			<div class="dvLabelYinputTypeText">
				<label for="search">Pregunta:</label>
  				<input type="text" id="search" name="search" />
			</div>
 			<div class="dvBotonera">
  				<a href="#" class="boton azul" onclick="document.getElementById('frmBusqueda').submit()">Buscar </a>
			</div>
		</div>
	</form>
</br>
<a class="boton azul" href="/quizes/new">Crear Pregunta</a>
</br>
</br>
<% if(quizes.length > 0) {%>
<table id="lstPreguntas">
<tr>
	<th> Preguntas </th>
	<th> Categorías </th>
</tr>
<% var i; for(i = 0; i < quizes.length; i++) {%>
	<tr>
		<td>
			<a class="enlaceGenerico" href="/quizes/<%= quizes[i].id %>"><%=quizes[i].pregunta%></a>
		</td>
		<td>
			<%= quizes[i].Category === null ? '<No asignada>' : quizes[i].Category.nombre %>
		</td>
		<td>
			<a class="boton naranja" href="/quizes/<%= quizes[i].id %>/edit">Editar</a>
			<form id="frmBorrarPregunta_<%=quizes[i].id %>" method="post" class="frmBotonBorrar" action="/quizes/<%= quizes[i].id %>?_method=delete">
				<a class="boton rojo" onclick="return confirm('¿Desea eliminar \'<%= quizes[i].pregunta %>\'?') ? document.getElementById('frmBorrarPregunta_<%= quizes[i].id %>').submit() : false">Borrar</a>
			</form>
		</td>
	</tr>
<% } %>
</table>
<% } else { %>
	<h3> Sin resultados para la búsqueda </h3>
<% } %>
<br/>